# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Media
media/shop/images/*
!media/shop/images/.gitkeep

# Environments
.env
.venv
env/
venv/
ENV/

# Static files
staticfiles/
static/

# OS metadata
.DS_Store
Thumbs.db
