{% extends 'shop/base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}
<style>
	body {
	  font-family: Arial, Helvetica, sans-serif;
	  margin: 0;
	}
	
	html {
	  box-sizing: border-box;
	}
	
	*, *:before, *:after {
	  box-sizing: inherit;
	}
	
	.column {
	  float: left;
	  width: 33.3%;
	  margin-bottom: 16px;
	  padding: 0 8px;
	}
	
	.card {
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	  margin: 8px;
	}
	
	.about-section {
	  padding: 50px;
	  text-align: center;
	  background: rgb(189,1,1);
background: linear-gradient(90deg, rgba(189,1,1,1) 0%, rgba(0,0,0,1) 32%, rgba(0,0,0,1) 72%, rgba(241,12,12,1) 100%);
	  color: white;
	}
	
	.container {
	  padding: 0 16px;
	}
	
	.container::after, .row::after {
	  content: "";
	  clear: both;
	  display: table;
	}
	
	.title {
	  color: grey;
	}
	
	.button {
	  border: none;
	  outline: 0;
	  display: inline-block;
	  padding: 8px;
	  color: white;
	  background-color: #000;
	  text-align: center;
	  cursor: pointer;
	  width: 100%;
	}
	
	.button:hover {
	  background-color: #555;
	}
	
	@media screen and (max-width: 650px) {
	  .column {
		width: 100%;
		display: block;
	  }
	}
	</style>
	<div class="about-section">
	  <h1>About Us Page</h1>
	  <p>Some text about who we are and what we do.</p>
	  <p>Resize the browser window to see that this page is responsive by the way.</p>
	</div>
	<br>
	<h2 style="text-align:center">Our Team</h2><br>
	<div class="row">
		
		<div class="column">
			<div class="card">
				<img src="/static/shop/game3.jpg" alt="Mike" style="width:100%">
				<div class="container">
					<h2>Mircus</h2>
					<p class="title">Hacker</p>
					<p>Some text that describes me lorem ipsum ipsum lorem.</p>
					<p>mike@example.com</p>
					<p><button class="button">Contact</button></p>
				</div>
			</div>
		</div>
		
		<div class="column">
		  <div class="card">
			<img src="/static/shop/game5.jpg" alt="Jane" style="width:100%">
			<div class="container">
			  <h2>Assassions</h2>
			  <p class="title">Kilers</p>
			  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
			  <p>jane@example.com</p>
			  <p><button class="button">Contact</button></p>
			</div>
		  </div>
		</div>
		<div class="column">
		<div class="card">
		  <img src="/static/shop/game9.jpg" alt="John" style="width:100%">
		  <div class="container">
			<h2>Spidy</h2>
			<p class="title">Hero</p>
			<p>Some text that describes me lorem ipsum ipsum lorem.</p>
			<p>john@example.com</p>
			<p><button class="button">Contact</button></p>
		  </div>
		</div>
	  </div>
	</div>

{% endblock body %}